<configuration>
	<system.web>
		<!-- Increase max request size to 50 MB (adjust as needed) -->
		<httpRuntime maxRequestLength="51200" executionTimeout="110"/>
		<compilation debug="true"/></system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- Increase max request size to 50 MB (adjust as needed) -->
				<requestLimits maxAllowedContentLength="52428800"/>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
