<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<httpRuntime maxRequestLength="10240" executionTimeout="90" xdt:Transform="SetAttributes" xdt:Locator="Match(@maxRequestLength)" />
	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="10485760" xdt:Transform="SetAttributes" xdt:Locator="Match(@maxAllowedContentLength)" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
